VITE_SUPABASE_URL=https://fcbofcpwuuaxgsgryxfo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjYm9mY3B3dXVheGdzZ3J5eGZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3ODM4NzEsImV4cCI6MjA5MzM1OTg3MX0.6HVQPXc974xkdet3leveWotkATYh6FNmxny93W-lmT4
VITE_SUPABASE_ADMIN_EMAIL=superadmin@iai.cl
